html {
  text-align: center;
}

body {
  background: #75d688 url('/otis_redding.png');
  color: #477b58;
}


#index .container {
  padding-top: 10px;
}

#play .container {
  padding-bottom: 20px;
}

#hanged-man {
  margin-top: 50px
}

span.letter {
  background: #6a6;
  display: inline-block;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  text-transform: uppercase;
} 

span.letter.used {
  background: #777;
} 

#secret_word {
  display: block;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

/* Ajax styles */

body#play.js-enabled #guess {
  display: none;
}

body#play.js-enabled .letter, body#play.js-enabled .letter label {
  cursor: pointer;
}

body#play.js-enabled input[type="radio"] {
  display:none;
} 
